* {
 margin:0;
 padding:0;
}

:root {
  box-sizing: border-box;
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;

}

body{
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#page {
  width: 800px;
  padding: 24px;
  background-color: #F0E8C6;
  margin: 24px auto;
  border-radius: 24px;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p{
  margin-top: 12px;
}
h1 {
  line-height: 140%;
  font-size:40px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

ol, ul {
  padding-left: 24px;
}